# Mentoria Técnica - Template

<div style="text-align:justify">
Este notebook apresenta um template que vai ajudar a organizar as etapas iniciais do nosso primeiro projeto de ciência de dados. Como visto anterioremente, precisamos estruturar nosso trabalho com base no método científico, aumentando nosso entendimento sobre o <b>Objetivo</b>, a <b>Metodologia</b> de trabalho e <b>Resultados Esperados</b>.
</div>
<br>
Para facilitar estas definições, vamos utilizar <i>Test Case Canvas</i>.

<table style="border-collapse: collapse; width: 100%; height: 283px;" border="1">
    <tr style="height: 61px;">
        <td style="width: 100%; text-align: left; height: 61px;">
            <h2 style="text-align: center;"><strong>Test Case Canvas</strong></h2>
        </td>
    </tr>
    <tr style="height: 24px;">
        <td style="width: 100%; height: 24px; text-align: left;"><strong>Nós acreditamos que:</strong>:</td>
    </tr>
    <tr style="height: 75px;">
        <td style="width: 100%; height: 75px; text-align: left;">
            Texto...
        </td>
    </tr>
    <tr style="height: 24px;">
        <td style="width: 100%; height: 24px; text-align: left;"><strong>Para verificar isso, vamos</strong>:</td>
    </tr>
    <tr style="height: 75px;">
        <td style="width: 100%; height: 75px; text-align: left;">
            Texto...
        </td>
    </tr>
    <tr style="height: 24px;">
        <td style="width: 100%; height: 24px; text-align: left;"><strong>E vamos medir</strong>:</td>
    </tr>
    <tr style="height: 75px;">
        <td style="width: 100%; height: 75px; text-align: left;">
            Texto...
        </td>
    </tr>
    <tr style="height: 24px;">
        <td style="width: 100%; height: 24px; text-align: left;"><strong>Estaremos certos, se</strong>:</td>
    </tr>
    <tr style="height: 75px;">
        <td style="width: 100%; height: 75px; text-align: left;">
            Texto...
        </td>
    </tr>
</table>

## Próximos Passos

<div style="text-align:justify">
Temos em mãos um <code>dataset</code> que descreve os passageiros do Titanic e algumas de suas características, tais como classe de embarque, gênero, idade, tarifa paga, entre outros. Também temos uma coluna que indica se o passageiro sobreviveu ao naufrágio.
</div>
<br>
Veja um exemplo dos dados:

In [1]:
import pandas

data = pandas.read_csv('train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Mais detalhes sobre o dataset podem ser encontrados aqui https://www.kaggle.com/c/titanic/data.

Suas tarefas são:

1. Realize uma análise exploratória que te ajude (ou responda) a hipótese levantada no Test Case. Use a metodologia proposta no Test Case.
2. Faça a aferição (medições) conforme proposto no cartão de experimento.
3. Apresente os resultados obtidos pelo experimento e confronte esses resultados com os resultados esperados.

<div>
Utilize a biblioteca <code>pandas</code> para realizar a análise exploratória e as bibliotecas <code>matplotlib</code> ou <code>seaborn</code> para exibição gráfica.
</div>

## Estudo - Titanic

Faça aqui seu estudo...

## Conclusões

- Existem características determinantes para um passageiro ter sobrevivido? Quais são elas?
- Você comparou diferentes algoritmos de classificação? Quais foram os resultados?
- Como você avaliou o resultado do seu modelo de classificação?
- O que você achou das curvas <code>Precision</code> e <code>Recall</code> obtidas?